html, body {
  background-color: #fff;
  color: #636b6f;
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  height: 100vh;
  margin: 0;
}
.full-height {
  height: 100vh;
}
.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}
.position-ref {
  position: relative;
}
.top-right {
  position: absolute;
  right: 10px;
  top: 18px;
}
.top-center {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: 18px;
}
.center {
  text-align: center;
}
.content {
  font-weight:600;
}
.title {
  font-size: 84px;
}
.links > a {
  color: #636b6f;
  padding: 0 25px;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: .1rem;
  text-decoration: none;
  text-transform: uppercase;
}
.menubar {
  top: 0;
  width: 100%;
}
.menubar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
.menubar li {
  float: left;
}
.menubar li.right {
  float: right;
}
.menubar li.avatar a {
  padding: 3px;
}
.menubar li.avatar img {
  height: 41px;
}
.menubar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}
.menubar li a:hover {
  background-color: #111;
}
.m-b-md {
  margin-bottom: 30px;
}

div.error {
  border: 1px solid red;
}
