<h2>Login</h2>

<form {{action 'authenticate' on='submit'}}>
  <p>
    <label for="identification">Email</label>
    {{input id='identification' placeholder='Enter your email' value=identification}}
  </p>

  <p>
    <label for="password">Password</label>
    {{input id='password' placeholder='Enter your password' value=password type="password"}}
  </p>

  <button type="submit">Login</button>

  {{#if errorMessage}}
    <p>{{errorMessage}}</p>
  {{/if}}
</form>