{{#each model as |user|}}
  <p>
    ID: {{model.id}}<br>
    Username: {{model.username}}<br>
    Email: {{model.email}}<br>
    <img src="{{if user.avatar user.avatar defaultAvatar}}" />
  </p>
{{/each}}
